
nav {
	background-color: darkseagreen; 
	margin: 20px; 
}
body {    
    background-image: url("../images/background2.jpg"); 
	background-size: cover;
    background-repeat: repeat;
}
h1 {
	background: darkseagreen;
	color: white;
	text-align: center;
	padding: 20px;
	border: 2px solid #522929;
}
h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

header {
	color: white;
	text-align: center;
	padding: 20px;
	border: 2px solid #522929;
}
	
h1 {
	font-size: 50px;
	text-align: center
}

.cappuccino, .blackcoffee, .flatwhite {
    border-width: 2px;
    border-style: dotted;
    border-color: darkgreen;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 20px;
    background-color: rgba(250,235,215,0.50);
}

img {
    width: 50px;
    height: 80px;
}


.welcome, .openinghours {
    background-color: rgba(143,188,143,0.80);
}
.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 71px;
    height: 61px;	
}

.payment {
    float: right;
    font-weight: bold;	
}