
nav {
	background-color: darkseagreen; 
}
body {    
    background-image: url("../images/background2.jpg"); 
	background-size: cover;
    background-repeat: repeat;
}
h1 {
	background: darkseagreen;
	color: white;
	text-align: center;
	padding: 20px;
	border: 2px solid #522929;
}
h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

header {
	color: white;
	text-align: center;
	padding: 20px;
	border: 2px solid #522929;
}
	
h1 {
	font-size: 50px;
	text-align: center
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 71px;
    height: 61px;
}	
.flatwhite {
    border-width: 5px;
    border-style: solid;
    border-color: chocolate;
	margin: 20px;
    background-color: rgba(250,235,215,0.50);

}
.cappuccino{
    border-width: 5px;
    border-style: solid;
    border-color: chocolate;
    margin: 20px;
    background-color: rgba(250,235,215,0.50);
}
.blackcoffee {
    border-width: 5px;
    border-style: solid;
    border-color: chocolate;
	margin: 20px;
    background-color: rgba(250,235,215,0.50);
}